.container {
    width: 100%;
    position: relative;
}

.letter {
    margin: 5vh auto;
    position: relative;
    width: max-content;
    font-size: 5em;
    font-weight: bold;
}

.irregularShape {
    position: relative;
    display: inline-block;
    margin: 0.1em;
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    color: white;
}

.irregularShape:nth-child(1) {
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    background-color: #3498db;
    transform: rotate(-3deg);
}

.irregularShape:nth-child(2) {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: #e74c3c;
    transform: rotate(2deg);
}

.irregularShape:nth-child(3) {
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    background-color: #2ecc71;
    transform: rotate(-5deg);
}

.irregularShape:nth-child(4) {
    clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
    background-color: #f39c12;
    transform: rotate(4deg);
}

.irregularShape:nth-child(5) {
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 90%);
    background-color: #a99c82;
    transform: rotate(-3deg);
}

.irregularShape:nth-child(6) {
    clip-path: polygon(20% 0%, 100% 0%, 90% 80%, 0% 100%);
    background-color: #ffaacc;
    transform: rotate(9deg);
}
