Flask-Pydantic~= 0.12.0
aniso8601
certifi
chardet
click
flask
flask-Login
flask-WTF
greenlet
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
psycopg2
pytz
requests
scipy
six
SQLAlchemy
SQLAlchemy-serializer
urllib3
Werkzeug
WTForms
scikit-learn
