.top {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 25%;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .6);
  border-radius: inherit;
  z-index: 2;
}


.title {
  font-family: "Rubik", sans-serif;
  color: #202123;
  font-weight: 700;
  max-width: 82%;
  text-align: left;
  line-height: 1em;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 2em;
}


.side {
  position: absolute;
  right: 1%;
  top: 5%;
  height: 90%;
  width: 13%;
  z-index: 4;
  border-radius: inherit;
  box-shadow: inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.4);
  background-color: #202123;
}


.deleteBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 4;
  max-width: 0;
  min-width: 0;
  border-radius: inherit;
  box-shadow: inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transition: width 1s,
}

.menuOpened .deleteBtn {
  min-width: 14%;
  max-width: none;
}


.deleteBtn svg {
  position: absolute;
  fill: #FFFFFF;
  max-height: 50%;
  min-width: 1em;
  transform-origin: center;
  transition:
    width 0.5s,
}

.menuClosed svg {
  width: 0;
  visibility: hidden;
}

.menuOpened svg {
  width: 100%;
  visibility: visible;
}

.menuOpened {
  transition: padding 0.5s;
  margin-left: 0.25rem;
  padding-left: 84%;
}

.menuClosed {
  transition: padding 0.5s;
  padding-left: 0;
}

.menuClosed .code {
  font-size: 0;
  transition: visibility 0s 0.2s;
  visibility: hidden;
}

.menuOpened .code {
  transition: visibility 0s 250ms;
  visibility: visible;
}

.expandSign {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuClosed .expandSign {
  transition: transform 0.2s 0s;
}

.menuOpened .expandSign {
  transform: translateX(-25%) rotate(180deg);
  transition: transform 0.2s 0s;
}


.menuClosed .deleteBackground {
  visibility: hidden;
}

.deleteBackground {
  position: absolute;
  border-radius: inherit;
  left: 0;
  height: 100%;
  width: 0;
  background-color: red;
}

.animating {
  transition: transform 0.3s ease;
}

.menuClickable {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
}

.code {
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  letter-spacing: 0.2em;
  left: 20%;
  overflow: hidden;
}