
.messages {
    height: 49%;
    padding-top: 1em;
    width: 100%;
    border-radius: 0 0.8em 0 0.8em;
    display: flex; /* Make it a flexbox container */
    flex-direction: column; /* Arrange items in a column */
    align-items: flex-start; /* Align items to the start (left) */
    margin-bottom: 1.5em;
    overflow: auto;
    scrollbar-width: thin; /* Тонкий скроллбар для Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent; /* Цвет для Firefox */
}

.message {
    font-weight: 800;
    font-size: 0.7em;
    padding: 0.5em 1em;
    font-family: "Rubik", sans-serif;
    text-align: left;
    background-color: var(--htmlBackground); /* Dark background */
    color: white; /* var(--message-text); /* White text */
    border-radius: 1em 0.2em 1em 0.2em; /* Rounded corners */
    display: inline-block;
    max-width: 80%; /* Ensure the message doesn't take full width */
    word-wrap: break-word; /* Ensure long words break correctly */
    margin: 0.15em 2em; /* Add some space between messages */
    box-shadow: .1em .1em .5em .2em rgba(99, 99, 99, 0.42);
    transition: transform 0.5s ease-in-out, translateX 0.5s ease-in-out;
}

.disappear {
    transform: translateX(-2em);
}
