.order {
    position: relative;
    margin: 1em auto 1em auto;
    width: 90%;
    z-index:1;
    text-align: center;
    border-radius: 0.8em;
    font-size: inherit;
    user-select: none;
}

.orderOpened {
    transition: padding 0.5s;
    padding-top: 70%;
}

.orderClosed {
    transition: padding 0.5s;
    padding-top: 28%;
}

.title {
    font-family: "Rubik", sans-serif;
    color: #202123;
    font-weight: 700;
    max-width: 82%;
    text-align: left;
    line-height: 1em;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 2em;
    user-select: none;
}


@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }

}

.orderShaking {
    animation: shaking .15s .15s;
    animation-iteration-count: 2;
}

.qrCode {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1em;
    /* height: 30em;
    width: 80%; */
    border-radius: inherit;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 99999;
    background-color: white;
}

.darkBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.6);
}