.toggleBtn {
    background-color: rgba(28,28,28,0);
    position: relative;
    bottom: 0;
    color: black;
    margin: auto;
    border-radius: inherit;
    width: 100%;
    font-size: 1.5em;
    left: 0;
    right: 0;
    user-select: None;
}
