.order {
    position: relative;
    margin: 1em auto 1em auto;
    width: 90%;
    color: #FFFFFF;
    z-index:1;
    text-align: center;
    border-radius: 0.8em;
}

.orderOpened {
    transition: padding 0.5s;
    padding-top: 60%;
}

.orderClosed {
    transition: padding 0.5s;
    padding-top: 28%;
}

.top {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 25%;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .6);
    border-radius: inherit;
    z-index: 2;
    background-color: red;
}

.side {
    position: absolute;
    right: 0.25rem;
    top: 5%;
    height: 90%;
    width: 13%;
    z-index:4;
    border-radius: inherit;
    box-shadow: inset 6px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: black;
}

.title {
    font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 700;
    max-width:82%;
    text-align:left;
    position: absolute;
    bottom: 5%;
    left: 5%;
}


.header {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 25%;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .6);
    border-radius: inherit;
    z-index: 2;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ACACAC;
    border-radius: inherit;
    z-index: 0;
    display: flex; /* Make it a flexbox container */
    flex-direction: column; /* Arrange items in a column */
    justify-content: flex-end; /* Align items to the top */
    align-items: flex-start; /* Align items to the start (left) */
}

.Closed .footer {

    transition: max-height 0.5s; /* плавный переход */
    max-height: 0; /* начальная высота */
    /*transition: padding 0.5s;*/
    /*padding-top: 28%;*/
}

.Opened .footer {
    transition: max-height 1s ease-out; /* плавный переход */
    max-height: 800px;
    /*transition: padding 0.5s;*/
    /*padding-top: 50%;*/
}

.messages {
    height: 51.5%;
    width:100%;

    border-radius: 0 0.8rem 0  0.8rem;
    display: flex; /* Make it a flexbox container */
    flex-direction: column; /* Arrange items in a column */
    align-items: flex-start; /* Align items to the start (left) */
    margin-bottom: 7%;
    overflow: auto;
}

.message {
    font-size: 0.7em;
    padding: 0.5em 1em;
    background-color: blue; /* var(--message-background); /* Dark background */
    color: white; /* var(--message-text); /* White text */
    border-radius: 1em 0.2em 1em 0.2em; /* Rounded corners */
    display: inline-block;
    max-width: 80%; /* Ensure the message doesn't take full width */
    word-wrap: break-word; /* Ensure long words break correctly */
    margin: 0.15em 0.5em; /* Add some space between messages */

    -webkit-box-shadow: 4px 4px 8px 2px rgba(99, 99, 99, 0.42);
    -moz-box-shadow: 4px 4px 8px 2px rgba(99, 99, 99, 0.42);
    box-shadow: 4px 4px 8px 2px rgba(99, 99, 99, 0.42);
}

.date {
    font-family: "Rubik", sans-serif;
    color: var(--html-background);
    font-weight: 700;
    font-size: min(3.4vw,30px);
    position: absolute;
    bottom: 2%;
    right: 3.5%;
}

.toggle-btn {
        position: absolute;
    bottom: 0;
    color: black;
    margin: auto;
    border-radius: inherit;
    font-size: 1.5em;
    left: 0;
    right: 0;
}


.deleteBtn {
    position: absolute;
  bottom: 0;
  left: 0;
  height:100%;
  z-index:4;
  border-radius: inherit;
  box-shadow: inset 6px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuClosed .deleteBtn {
  transition: width 0.2s;
  width: 0%;
}
.menuOpened .deleteBtn {
  transition: width 0.2s 0.3s;
  width: 14%;
}



.deleteIcon {
      fill: #FFFFFF;
      width: 80%;
      height: auto;
      transform-origin: center;
}
.menuClosed .deleteIcon {
   transition: visibility 0.2s;
  visibility:hidden;
}
.menuOpened .deleteIcon {
  visibility:visible;
  transition: visibility 0.2s 0.3s;
}

.menuOpened {
    transition: padding 0.5s;
    margin-left:0.25rem;
    padding-left: 84%;
}
.menuClosed {
    transition: padding 0.5s;
    padding-left: 0;
}

.menuClickable {
      position: absolute;
      right:0;
      z-index:3;
      height: 100%;
      width:100%;
}

.code {
        font-family: "Rubik", sans-serif;
    color: white;
    font-weight: 700;
    font-size: min(10vw, 70px);
    line-height:  min(11vw, 74px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2;
    height:100%;
    letter-spacing: 0.1em;
    left: 20%;
}
.menuClosed .code {
  transition: visibility 0s 0.15s;
  visibility: hidden;
}
.menuOpened .code {
  transition: visibility 0s 150ms;
  visibility: visible;
}


.expandSign {
      font-family: "Rubik", sans-serif;
      color: white;
      font-weight: 700;
      font-size: min(8vw, 55px);
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.menuClosed .expandSign {
  transition: visibility 0s 0.2s;
  visibility: visible;
}

.menuOpened .expandSign {
    transition: visibility 0s 0.1s;
    visibility: hidden;
}






