.addBtn {
    position: relative;
    width: 90%;
    height: 3.5em;
    margin: auto;
    margin-top: .3em;
    background: var(--htmlBackground);
    border-radius: .5em .5em .5em .5em;
    border: .1em #404040 solid;
    /*box-shadow: inset .1em .1em .3em black;*/
    cursor: pointer;
}

.addBtn:hover {
    background: #515151FF;
}

.plus {
    position: absolute;
    width: 100%;
    top: 50%;
    translate: 0 -50%;
    text-align: center;

    svg {
        width: 2em;
        fill: white;
        user-select: none;
    }
}
