/* @import './variables.css'; */

:root {
    --htmlBackground: #202123;
    --header: #202123;
    --headerText: white;
    --orderBody: #afafaf;
    --orderNotification: #8d9afa;
    --orderHeader: #f9f9f7;
    --messageBackground: #333;
    --messageText: #fff;

    --mainMaxWidth: 1000px;
    --htmlMaxFontSize: 30px;
}

body {
    background-color: #202123;
}