.btnWrap {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.btn {
    width: min(1000px, 100vw);
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,152,84,1) 0%, rgba(0,255,132,1) 100%);
    border-radius: 0 0 1em 1em;
    box-shadow: inset 1em 4em 1em rgba(0, 0, 0, 0.2), 0 1em 1em rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btnTrapezoidOutline {
    display: inline-block;
    color: #ffffff;
    transform-style: preserve-3d;
    border-right: 0.1em solid #ffffff;
    border-left: 0.1em solid #ffffff;
    border-bottom: 0.1em solid #ffffff;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease-out;
    line-height: 1.5;
}
