.addBtn {
    position: relative;
    width: 70%;
    height: 2em;
    margin: auto;
    background: linear-gradient(160deg, rgb(4, 231, 98) 0%, rgb(2, 182, 76) 100%);
    border-radius: .1em .1em 1em 1em;
    box-shadow: 0 0 1em black;
    cursor: pointer;
}

.plus {
    position: absolute;
    width: 100%;
    top: 50%;
    translate: 0 -50%;
    text-align: center;
    svg {
        width: 1em;
        user-select: none;
    }
}
