.datetime {
    font-family: "Rubik", sans-serif;
    color: #202123;
    font-weight: 700;
    font-size: 0.6em;
    position: absolute;
    bottom: 2%;
    right: 3.5%;
}

.toggleBtn {
    user-select: none;
    position: absolute;
    bottom: 0;
    color: #202123;
    margin: auto;
    border-radius: inherit;
    font-size: 1.5em;
    left: 0;
    right: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2ecc71;
    border-radius: inherit;
    z-index: -10;
    display: flex; /* Make it a flexbox container */
    flex-direction: column; /* Arrange items in a column */
    justify-content: flex-end; /* Align items to the top */
    align-items: flex-start; /* Align items to the start (left) */
}


.inputMessage {
    width: 100%;
}

.messageInput {
    position: absolute;
    bottom: 1.8em;
    left: 3%;
    width: 68%;
    border: .1em solid #404040;
    color: var(--messageText); /* Use the CSS variable */
    font-weight: 700;
    font-size: 0.7em;
    padding: 0.3em 1em;
    background-color: var(--messageBackground); /* Use the CSS variable */
    border-radius: 1em .2em 1em .2em; /* Rounded corners */
    display: inline-block;

    font-family: "Rubik", sans-serif;
    word-wrap: break-word; /* Ensure long words break correctly */
    margin: 0.0em 0 0 0.6em; /* Add some space between messages */
    z-index: 5;
    /*-webkit-box-shadow: 4px 4px 8px 2px rgba(99, 99, 99, 0.42);*/
    /*-moz-box-shadow: 4px 4px 8px 2px rgba(99, 99, 99, 0.42);*/
    /*box-shadow: 1em 1em 2em .5em rgba(99, 99, 99, 0.42);*/
}

.messageInput:hover, .sendBtn:hover {
    background-color: #28292B; /* Use the CSS variable */
}

.messageInput:focus {
    border-color: var(--headerText); /* Use the CSS variable */
    background-color: #28292B; /* Use the CSS variable */
}

.sendBtn {
    position: absolute;
    right: 2.5em;
    bottom: 1.8em;
    width: 1.9em;
    height: 2em;
    border: .1em solid #404040;
    /*max-width: 80%; !* Ensure the message doesn't take full width *!*/
    margin: 0; /* Add some space between messages */
    /*padding: 0.3em .5em;*/
    border-radius: 1em .2em 1em .2em; /* Rounded corners */
    /*display: inline-block;*/
    z-index: 5;
    background-color: var(--messageBackground); /* Dark background */
    color: var(--messageText); /* White text */
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    word-wrap: break-word; /* Ensure long words break correctly */
    box-shadow: 1em 1em 2em .5em rgba(99, 99, 99, 0.42);
}

.code {
    font-weight: 700;
    font-size: 0.6em;
    position: absolute;
    bottom: 2%;
    left: 4%;
}

/* CSS for quick messages popup */
.quickMessagesPopup {
    position: absolute;
    width: calc(100% - 3em); /* Оставляем ширину почти на весь экран */
    margin: .3em;
    bottom: 0.96em;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 0.5em;
    padding: .4em;
    padding-right: 2em;
    z-index: 9;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    height: 1.7em; /* Делаем высоту такой же, как у кнопки */
    overflow-x: auto; /* Добавляем горизонтальный скролл */
    white-space: nowrap; /* Сообщения располагаются в одну строку */
    /*scrollbar-width: none;*/
}

 Кастомизация горизонтального скроллбара
.quickMessagesPopup::-webkit-scrollbar {
    height: 4px; /* Устанавливаем высоту скроллбара как маленькую линию */
}

.quickMessagesPopup::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный фон трека (область скроллбара) */
}

.quickMessagesPopup::-webkit-scrollbar-thumb {
    background-color: #404040; /* Цвет ползунка скроллбара */
    border-radius: 2px; /* Скругляем края ползунка */
}

.quickMessagesPopup::-webkit-scrollbar-thumb:hover {
    background-color: #606060; /* Более яркий цвет ползунка при наведении */
}

/* Отключаем скроллбар для Firefox */
.quickMessagesPopup {
    scrollbar-width: thin; /* Тонкий скроллбар для Firefox */
    scrollbar-color: #404040 transparent; /* Цвет для Firefox */
}


/* Сообщения */
.quickMessage {
    background-color: #202123;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.5em;
    border: .1em solid #404040;
    font-size: 0.6em;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0; /* Сообщения не будут сжиматься */
}

.quickMessage:hover {
    background-color: #404040;
}

/* Кнопка открытия быстрого меню */
.toggleQuickMessages {
    position: absolute;
    bottom: 1.6em;
    right: .3em;
    height: 2.1em; /* Высота кнопки */
    width: .8em;
    border: .1em solid #404040;
    border-radius: .7em;
    background-color: var(--messageBackground); /* Use the CSS variable */
    color: #fff;
    padding: 0.4em;
    font-size: 0.8em;
    z-index: 11;
    cursor: pointer;
}

.toggleQuickMessages:hover {
    background-color: #404040;
}
