:root {
    --htmlBackground: #202123;
    --header: #202123;
    --headerText: white;
    --orderBody: #afafaf;
    --orderNotification: #8d9afa;
    --orderHeader: #f9f9f7;
    --messageBackground: #333;
    --messageText: #fff;

    --mainMaxWidth: 800px;
    --htmlMaxFontSize: 30px;
}

html {
    font-size: min(5vw, 30px); /* var(--html-max-font-size) */
    font-family: 'Rubik', sans-serif;
    background-color: var(--htmlBackground);
}

.backLogo {
    position: fixed;
    width: 5em;
    opacity: .05;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
}